<div class="event-title">{{event.title}}</div>
<div class="event-hashtag" ng:if="event.hashtag">#{{event.hashtag}}</div>

<div class="event-top">

	<div class="event-top-cell">

		<div class="event-info"><span class="GREY">From:</span>&nbsp;&nbsp;&nbsp;&nbsp;{{days[event.from.getUTCDay()].long}},&nbsp;{{months[event.from.getUTCMonth()].long}}&nbsp;{{event.from.getUTCDate()}},&nbsp;{{event.from.getUTCFullYear()}}</div>
		<div class="event-info"><span class="GREY">To:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{days[event.to.getUTCDay()].long}},&nbsp;{{months[event.to.getUTCMonth()].long}}&nbsp;{{event.to.getUTCDate()}},&nbsp;{{event.to.getUTCFullYear()}}</div>
		<div class="event-info" ng:if="event.location"><span class="GREY">Where:</span>&nbsp;&nbsp;{{event.location}}</div>

	</div>
	<div class="event-top-cell">

		<div class="event-invite">

			<button class="btn">Accept Invite</button>

		</div>

	</div>

</div>

<table id="event-nav" cellpadding="0" cellspacing="0" border="0">

	<tr>
		<td>
			<a href="" class="event-nav-item {{etab.people}}" ng:click="changeTab('people')">People</a>
		</td>
		<td>
			<a href="" class="event-nav-item {{etab.expenses}}" ng:click="changeTab('expenses')">Expenses</a>
		</td>
		<td>
			<a href="" class="event-nav-item {{etab.map}}" ng:click="changeTab('map'); showMap();">Map</a>
		</td>
		<td>
			<a href="" class="event-nav-item {{etab.comments}}" ng:click="changeTab('comments')">Comments</a>
		</td>
		<td ng:if="event.hashtag">
			<a href="" class="event-nav-item {{etab.instagram}}" ng:click="changeTab('instagram')">Instagram</a>
		</td>
	</tr>

</table>

<div class="map-wrap" ng:show="etab.map">

	<div id="map-canvas">Location Not Found</div>
	<input type="text" class="lrg full" placeholder="Directions (Address, City, Place...)" />

</div>

<div class="instagram-wrap" ng:show="etab.instagram">

	<div class="instagram-img" ng:repeat="post in instagrams"><img src="{{post.images.standard_resolution.url}}" /></div>

</div>