<!--<div class="inside">

	<div class="section-wrap">

		<ul class="menu">
			<li class="section" ng:repeat="i in [] | range:12">
				<div class="section-head">
					<div class="td" id="month_{{(i+1)}}">{{months[i].long}}</div>
				</div>
				<ul class="expanded">
					<li>
						<a href="" class="nav-item title">
							HELLO
						</a>
					</li>
					<li>
						<a href="" class="nav-item">
							HELLO
						</a>
					</li>
					<li>
						<a href="" class="nav-item">
							HELLO
						</a>
					</li>
					<li>
						<a href="" class="nav-item title">
							HELLO
						</a>
					</li>
					<li>
						<a href="" class="nav-item">
							HELLO
						</a>
					</li>
					<li>
						<a href="" class="nav-item">
							HELLO
						</a>
					</li>
				</ul>
			</li>
		</ul>

	</div>

</div>-->
<ul class="tcontent">
	<li ng:repeat="i in [] | range:12">{{months[i].long}}</li>
</ul>