<div class="head">
	
	<div class="inside" align="center">
		
		<!--<div class="splash_signup">
			<h1>Sign Up for Free!</h1>
			
		</div>-->
		<table class="splash-table">
			<tr>
				<td colspan="2">
					<h1>Sign Up for Free!</h1>
				</td>
			<tr>
				<td>
					<!--<h1>Sign Up for Free!</h1>-->
					<%= render 'form' %>		
				</td>
				<td>
					<button class="social_login instagram">
						<div class="button_logo"></div>
						<div class="button_text">Log In with Instagram</div>
						<div class="CLEAR"></div>
					</button>
				</td>
			</tr>
		</table>

	</div>

</div>
<div class="color-bar"></div>
<div class="stamps"></div>