<div class="head">
	
	<div class="inside" align="center">
		
		<div class="splash_signup">
			<h1>Sign Up for Free!</h1>
			<%= render 'form' %>
		</div>

	</div>

</div>
<div class="color-bar"></div>
<div class="stamps"></div>