#calendar {
	background: #505050;
	padding: 3px;	
	border-radius: 3px;
	margin-top: 15px;
}
#calendar div.week {
	height:88px;
	position: relative;
	margin-top: 4px;
}
#calendar div.labels {
	height: 20px;
	position: relative;
}
#calendar div.labels table {
	position: absolute;
	width: 100%;
	table-layout: fixed;
}
#calendar div.labels table tr td {
	height: 20px;
	background: #6f6f6f;
	border-bottom: solid 1px #505050;
	border-right: solid 1px #505050;
	border-top: solid 1px #777;
	border-left: solid 1px #777;
}
#calendar div.labels table tr td div.show_day {
	color: #424242;
	text-shadow: 0 1px 0 #818181;
	font-weight: bold;
}
#calendar div.week:first-child {
	margin-top: 0;
}
#calendar div.week:last-child {
	padding-bottom: 4px;
}
#calendar div.week:nth-child(even){
	
}
#calendar div.week:last-child table.backbone tr td {
	
}
#calendar div.week table.backbone tr td:last-child {
	
}

#calendar table.backbone {
	position: absolute;
	width: 100%;
	table-layout: fixed;
}
#calendar table.backbone tr td {
	height: 88px;
	background: #6f6f6f;
	border-bottom: solid 1px #505050;
	border-right: solid 1px #505050;
	border-top: solid 1px #777;
	border-left: solid 1px #777;
}
#calendar table.backbone tr td div.show_date {
	color: #999;
	font-weight: bold;
	margin:0 4px 0 0;
}

#calendar table.overlay {
	position: absolute;
	width: 100%;
	table-layout: fixed;
}
#calendar table.overlay tr td a.span {
	text-decoration: none;
	display: block;
	font-size:11px;
	color: #575757;
	text-align: left;
	padding: 0 4px;
	text-shadow: 0 1px 0 #76CEB2;
}
#calendar table.overlay tr td a.span.highlight {
	background: #61E4B1 !important;
	text-shadow: 0 1px 0 #B3EEDB !important;
}
#calendar table.overlay tr td a.span.spancenter {
	background: #4CBC91;
	border-radius: 3px;
	margin: 0 2px 0 2px;
}
#calendar table.overlay tr td a.span.spanleft {
	background: #4CBC91;
	border-radius: 0 3px 3px 0;
	margin: 0 2px 0 0px;
}
#calendar table.overlay tr td a.span.spanright {
	background: #4CBC91;
	border-radius: 3px 0px 0px 3px;
	margin: 0 0px 0 2px;
}
#calendar table.overlay tr td a.span.spanboth {
	background: #4CBC91;
	border-radius: 0px 0px 0px 0px;
	margin: 0 0px 0 0px;
}
#calendar table.overlay tr td div.on {
	background: #090;
	margin-left: 1px;
	border-radius: 4px;
}
#calendar table.backbone tr td.outdate {
	background: #646464;
	border-bottom: solid 1px #505050;
	border-right: solid 1px #505050;
	border-top: solid 1px #646464;
	border-left: solid 1px #646464;
}
#calendar table.backbone tr td.outdate div.show_date {
	color:#7e7e7e;
}
#calendar div.calhead {
	height: 50px;
	position: relative;
	margin-bottom: 2px;
}
#calendar div.calhead table {
	position: absolute;
	width: 100%;
}
#calendar div.calhead table tr td {
	height: 50px;
	background: #646464;
	border-bottom: solid 1px #505050;
	border-right: solid 1px #505050;
	border-top: solid 1px #646464;
	border-left: solid 1px #646464;
	padding: 0 10px;
}
#calendar div.calhead table tr td div.cal-labels {
	display: table;
	width: 100%;
}
#calendar div.calhead table tr td div.cal-labels div.month-td {
	display: table-cell;
	vertical-align: middle;
	color: #DDD;
	text-shadow: 0 1px 0 #151515;
	font-size: 24px;
	font-weight: bold;
}

ul.tcontent {
	list-style: none;
	margin:0;
	padding:0;
	width: 400px;
	height: 100%;
}
ul.tcontent li {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #4e4e4e;
}
ul.tcontent li:nth-child(even){
	background: red;
}
section {
	width: 100%;
	height: 100%;
	background: red;
}
section:nth-child(even){
	background: grey;
}

.left_side {
	background: #505050;
	padding: 3px 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin-top: 75px;
	margin-bottom: 20px;
}

.left_side .section-head.selected {
	/*background-color: #47ab85 !important;
	background-image: -moz-linear-gradient(#52cc9d, #44a07d) !important;
	background-image: -webkit-linear-gradient(#52cc9d, #44a07d) !important;
	background-image: linear-gradient(#52cc9d, #44a07d) !important;*/
	border-bottom: solid 1px #176F4F !important;
}

.left_side .section-head {
	border-bottom: solid 1px #3f3f3f;
}
.left_side .section-head a.mini_td {
	display: table-cell;
	color: #272727;
	text-shadow: 0 1px 0 #5e5e5e;
	padding: 10px;
	text-decoration: none;
}
.left_side .section-head a.mini_td:hover {
	color: #FFF !important;
	text-shadow: 1px 1px 0 #616161 !important;
	background-color: #565656;
	background-image: -moz-linear-gradient(#5e5e5e, #474747);
	background-image: -webkit-linear-gradient(#5e5e5e, #474747);
	background-image: linear-gradient(#5e5e5e, #474747);
}
/*.left_side .section-head.selected a.mini_td:hover {
	background-color: #47ab85 !important;
	background-image: -moz-linear-gradient(#52cc9d, #47ab85) !important;
	background-image: -webkit-linear-gradient(#52cc9d, #47ab85) !important;
	background-image: linear-gradient(#52cc9d, #47ab85) !important;
}*/
.left_side .section-head.selected a.mini_td {
	color: #FFF !important;
	text-shadow: 1px 1px 0 #616161;
	background-color: #47ab85 !important;
	background-image: -moz-linear-gradient(#52cc9d, #47ab85) !important;
	background-image: -webkit-linear-gradient(#52cc9d, #47ab85) !important;
	background-image: linear-gradient(#52cc9d, #47ab85) !important;
}
.left_side .menu .section:last-child {
	border-bottom: none !important;
}
.left_side .section-wrap .nav-item .maintext {
	font-size: 15px;
	font-weight: bold;
	color: #bdbdbd;
	text-shadow: 0 1px 0 #505050;
}
.left_side .section-wrap .nav-item .subtext {
	font-size: 12px;
	color:#a0a0a0;
	text-shadow: 0 1px 0 #636363;
}
ul.menu li.section ul.expanded li a.nav-item.highlight {
	background-color: #797979 !important;
}
ul.menu li.section ul.expanded li a.nav-item.highlight div.maintext {
	color: #4CBC91 !important;
	text-shadow: 0 1px 0 #2e2e2e !important;
}
ul.menu li.section ul.expanded li a.nav-item.highlight div.subtext {
	color: #ccc !important;
}


div.dash_wrap {
	width: 100%;
	height: 100%;
	display: table;
}
div.dash_wrap div.dash_cell {
	height: 100%;
	display: table-cell;
	vertical-align: top;
}
div.dash_wrap div.dash_cell:first-child {
	width: 250px;
}
div.dash_wrap div.dash_cell:last-child {

}

/*ul.menu ul.expanded li.selected {
	border-top: solid 1px #5f5f5f !important;
	border-bottom: solid 1px #333333 !important;
	background: #464646 !important;
}
ul.menu ul.expanded li.selected:first-child {
	border-top: none !important;
}
ul.menu ul.expanded li.selected:last-child {
	border-bottom: none !important;
}
ul.menu ul.expanded li.selected a.nav-item {
	border-left: solid 2px #5f5f5f !important;
}
ul.menu ul.expanded li.selected a.nav-item div.maintext {
	color: #2b2b2b !important;
	text-shadow: 0 1px 0 #575757 !important;
}*/

#right_wrap {
	position: fixed;
	text-align: center;
	left: 250px;
	right: 0;
	padding: 0px 40px;
	margin-top: 35px;
}