#calendar {
	background: #505050;
	padding: 3px;	
	border-radius: 3px;
}
#calendar div.week {
	height:88px;
	position: relative;
	margin-top: 4px;
}
#calendar div.week:first-child {
	margin-top: 0;
}
#calendar div.week:last-child {
	padding-bottom: 4px;
}
#calendar div.week:nth-child(even){
	
}
#calendar div.week:last-child table.backbone tr td {
	
}
#calendar div.week table.backbone tr td:last-child {
	
}

#calendar table.backbone {
	position: absolute;
	width: 100%;
	table-layout: fixed;
}
#calendar table.backbone tr td {
	height: 88px;
	background: #6f6f6f;
	border-bottom: solid 1px #505050;
	border-right: solid 1px #505050;
	border-top: solid 1px #777;
	border-left: solid 1px #777;
}
#calendar table.backbone tr td div.show_date {
	color: #999;
	font-weight: bold;
	margin:0 4px 0 0;
}

#calendar table.overlay {
	position: absolute;
	width: 100%;
	table-layout: fixed;
}
#calendar table.overlay tr td div.span {
	font-size:11px;
	color: #575757;
	text-align: left;
	padding: 0 4px;
}
#calendar table.overlay tr td div.span.highlight {
	background: #61E4B1 !important;
}
#calendar table.overlay tr td div.span.spancenter {
	background: #4CBC91;
	border-radius: 3px;
	margin: 0 2px 0 2px;
}
#calendar table.overlay tr td div.span.spanleft {
	background: #4CBC91;
	border-radius: 0 3px 3px 0;
	margin: 0 2px 0 0px;
}
#calendar table.overlay tr td div.span.spanright {
	background: #4CBC91;
	border-radius: 3px 0px 0px 3px;
	margin: 0 0px 0 2px;
}
#calendar table.overlay tr td div.span.spanboth {
	background: #4CBC91;
	border-radius: 0px 0px 0px 0px;
	margin: 0 0px 0 0px;
}
#calendar table.overlay tr td div.on {
	background: #090;
	margin-left: 1px;
	border-radius: 4px;
}
#calendar table.backbone tr td.outdate {
	background: #646464;
	border-bottom: solid 1px #505050;
	border-right: solid 1px #505050;
	border-top: solid 1px #646464;
	border-left: solid 1px #646464;
}
#calendar table.backbone tr td.outdate div.show_date {
	color:#7e7e7e;
}